* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    font-size: 14px;
}

html, body{
    height: 100%;
    width: 100%;
}
h1 {
    font-size: 210%;
    font-weight: 400;
}

h2 {
    font-size: 160%;
    font-weight: 400;
}
ul li {
    list-style-type: none;
}

a[type="button"]{
    background-color: #ED1C22;
    color: white;
    border-radius: 3px;
    text-decoration: none;
    padding: 14px;
    font-weight: bold;
    box-shadow: 0 0 37px -15px rgb(0 0 0 / 50%);
    transition: 3ms;
}
a[type="button"]:hover{
    transform: scale(1.1);
}
header {
    height: 19px;
    padding: 12px 0 17px 19px;
    background-color: #749474;
    font-size: 14px;
}
header > nav > ul {
    padding: 0;
    margin: 0;
}
header > nav > ul > li {
    display: inline-block;
}
header > nav > ul li a {
    color:#fff;
    text-decoration: none;
    padding:0 16px 0 16px;
}
header > nav > ul:last-child > li i {
    padding: 8px;
    color:#fff;
}
header > nav > ul > li a:hover {
    color: #ED1C22;
}
header > nav > ul:first-child {
    float: left;
    padding: 0 23px 0 21px;
}

ul#social-icons {
    float: right;
    margin-right: 11px;
}

header > nav > ul > li > a {
    color: #fff;
}

#banner {
    width: 100%;
    background-image: url(../images/oven.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
}
#banner-intro{
    border-radius: 3px;
    background-color: white;
    padding: 26px;
    width: 500px;
    position: relative;
    top: 100px;
    left: 100px;
    box-shadow: 0 0 37px -15px rgb(0 0 0 / 50%);
}
#banner-intro h1{
    margin-left: 16px;
    margin-right: 16px;
    color: #ED1C22;
}
#banner-intro h2{
    color: #6f8ca3;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 16px;
}

#banner-intro p {
    color: #000;
    margin: 16px;
}

#content {
    padding: 27px 30px 33px 38px;
    background-color: #fff;
}

#grid-container {
    display: grid;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    margin-top: 35px;
}

#content h3{
    color: #ED1C22;
}
#content p{
    color: #393f44;
}
footer{
    background-color: #749474;
}
#logo-footer {
    padding: 18px;
}
#social-icons-footer{
    background-color: #688568;
    padding: 18px;
    text-align: center;
}
#social-icons-footer i{
    margin-right: 11px;
    color: white;
    font-size: 18px;
}

#logo-footer h3{
    color:#eef4f8;
    display: inline;
}

#logo-footer h4{
    color: #c4d6e5;
    display: inline-block;
    margin-left: 8px;
}
#logo-footer p {
    color: #000;
}

.float{
    position: absolute;
    width:50px;
    left: 50%;
    height:50px;
    bottom: 30px;
    background-color:#fff;
    color: #ED1C22;
    border-radius:50px;
    text-align:center;
    box-shadow: 2px 2px 3px #999;
    line-height: 60px;
    margin-left: -25px;
    transition: 3ms;
}

.float:hover {
    transform: scale(1.1);
}

.float i {
    font-size: 22px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

@media screen and (max-width: 600px) {
    #grid-container {
        grid-template-columns: 1fr;
    }

    header > nav > ul:first-child {
        float: none;
        padding: 0;
    }
    header > nav > ul:last-child {
        display: none;
    }

    #banner-intro {
        width: auto;
        position: relative;
        padding: 18px;
        top: 50px;
        left: 0;
    }

    footer {

    }
}